* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.cookie-container {
    background: linear-gradient(260deg, #B0DDF1 0%, #833462 100%);
    /* centers in the middle */ 
    position: absolute;
    top: 50%;
    left: 50%;
    /* takes size of cookie and moves it back for the x and for the y */
    transform: translate(-50%, -50%);
    color: white;
    /* to move cookie and text side by side */
    display: flex;
    width: 20rem;
    height: 10rem;
    /* round out corners */
    border-radius: 1.2rem;
    padding: 1rem;
    font-family: "Lato";
    /* drops everything vertically */
    align-items: center;
    justify-content: space-between;

}

.cookie-title{ 
    font-size: 1.2rem;
    font-weight: lighter;
}

.cookie-subtitle {
    font-weight: bold;
    font-size: 0.6rem;
    padding: 0.5rem 0rem;
}

button {
    /* brings the writing to the center */
    padding: 0.5rem 1rem;
    font-family: "Lato";
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 0.3rem;
    background: rgb(254,109,111);
    color: white;
}

.text {
    width: 70%;
}

.cookie {
    transform: scale(0.6);
    overflow: hidden;
}